html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
  font-family: "hiragino-mincho-pron", "aw-conqueror-didot", serif, sans-serif;
  line-height: 1.5;
  letter-spacing: 0em;
}

.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  margin: 0 auto;
}

.l_container-sm {
  max-width: 980px;
}

.l_container {
  max-width: 1115px;
}

.l_container-lg {
  max-width: 1200px;
}

.l_header {
  height: 55px;
  width: 100%;
  padding: 0 15px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.l_header.js_changeColor {
  background: #fff;
}
.l_header-logo {
  font-size: 30px;
  font-weight: bold;
}
@media (min-width: 1080px) {
  .l_header-logo {
    font-size: 36px;
  }
}
.l_header-nav {
  display: none;
  background: #fff;
  width: 70%;
  position: fixed;
  top: 55px;
  right: 0;
  bottom: 0;
  background: #887260;
  transform: translateX(100%);
}
@media (min-width: 1080px) {
  .l_header-nav {
    display: block;
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    pointer-events: inherit;
    background: transparent;
  }
}
.l_header-nav__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1080px) {
  .l_header-nav__list {
    flex-direction: row;
    position: static;
    transform: none;
    gap: 40px;
  }
}
.l_header-nav__item {
  font-size: 16px;
  color: #fff;
  text-align: left;
}
@media (min-width: 1080px) {
  .l_header-nav__item {
    font-size: 16px;
    color: #333;
  }
}
.l_header-nav__link {
  position: relative;
}
.l_header-nav__link:hover::after {
  transform: scale(1, 1);
}
.l_header-nav__link::after {
  position: absolute;
  left: 10%;
  bottom: -5px;
  content: "";
  width: 80%;
  height: 1px;
  background: #333;
  transition: 0.3s all;
  transform: scale(0, 1);
}
.l_header-sns-wrapper {
  display: none;
}
@media (min-width: 1080px) {
  .l_header-sns-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1080px) {
  .l_header-sns__img {
    width: 30px;
    height: 30px;
  }
}

.l_footer {
  background: #887260;
  margin: 60px auto;
  padding: 60px 15px;
}
@media (min-width: 1080px) {
  .l_footer__main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 60px 20px;
  }
}
@media (min-width: 1080px) {
  .l_footer__access--wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
  }
}
.l_footer__access--map-container iframe {
  width: 100%;
  height: 100%;
}
.l_footer__access--map-container {
  width: 345px;
  height: 220px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.l_footer__access--txt {
  color: #fff;
  margin-top: 8px;
}
.l_footer-logo {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
@media (min-width: 1080px) {
  .l_footer-logo {
    font-size: 36px;
    text-align: left;
  }
}
.l_footer-nav {
  margin-top: 20px;
}
.l_footer-nav__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  height: 100%;
  color: #fff;
}
@media (min-width: 1080px) {
  .l_footer-nav__list {
    flex-direction: row;
    gap: 20px;
  }
}
.l_footer-nav__link {
  transition: 0.3s all;
}
.l_footer-nav__link:hover {
  opacity: 70%;
}
.l_footer__copy {
  margin-top: 20px;
  text-align: center;
}
.l_footer__copy--txt {
  color: #fff;
  font-size: 12px;
}
.l_footer-sns--wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 1080px) {
  .l_footer-sns--wrapper {
    justify-content: start;
  }
}
.l_footer-sns__img {
  width: 30px;
  height: 30px;
}

@media (min-width: 1080px) {
  .u_lg_dn {
    display: none;
  }
}

.m_section__ttl {
  font-size: 24px;
  text-align: center;
}
@media (min-width: 1080px) {
  .m_section__ttl {
    font-size: 36px;
    position: relative;
  }
}
.m_section__ttl::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #BD6856;
  position: absolute;
  left: 33%;
}
@media (min-width: 768px) {
  .m_section__ttl::before {
    left: 41%;
  }
}
@media (min-width: 1080px) {
  .m_section__ttl::before {
    width: 20px;
    height: 20px;
    left: 40%;
  }
}

.m_section__ttl--sanmozi {
  font-size: 24px;
  text-align: center;
}
@media (min-width: 1080px) {
  .m_section__ttl--sanmozi {
    font-size: 36px;
    position: relative;
  }
}
.m_section__ttl--sanmozi::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #BD6856;
  position: absolute;
  left: 37%;
}
@media (min-width: 768px) {
  .m_section__ttl--sanmozi::before {
    left: 43%;
  }
}
@media (min-width: 1080px) {
  .m_section__ttl--sanmozi::before {
    width: 20px;
    height: 20px;
    left: 43%;
  }
}

.m_btn {
  width: 200px;
  height: 50px;
  background: #887260;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.m_btn:hover {
  background: #fff;
  color: #887260;
}
.m_btn::before, .m_btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #887260;
  transition: 400ms ease all;
}
.m_btn::before {
  top: 0;
  right: 0;
}
.m_btn::after {
  bottom: 0;
  left: 0;
}
.m_btn:hover::before, .m_btn:hover::after {
  width: 100%;
  transition: 800ms ease all;
}

.m_hamburger {
  width: 32px;
  height: 24px;
  position: relative;
  z-index: 150;
}
@media (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 2px;
  position: absolute;
  background: #333;
  left: 50%;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

.m_kv {
  background: #E7DDD3;
  padding: 0 15px;
  height: 60vh;
  position: relative;
}
@media (min-width: 1080px) {
  .m_kv {
    padding: 0 40px;
  }
}
.m_kv-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1080px) {
  .m_kv-box {
    top: 50%;
  }
}
.m_kv__copy {
  font-size: 30px;
  position: relative;
  text-align: center;
}
.m_kv__copy::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
  z-index: -1;
}
@media (min-width: 1080px) {
  .m_kv__copy::after {
    font-size: 100px;
  }
}
.m_kv__copy--product::after {
  content: "Product";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
  z-index: -1;
}
@media (min-width: 1080px) {
  .m_kv__copy--product::after {
    font-size: 100px;
  }
}
.m_kv__copy--news::after {
  content: "News";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
  z-index: -1;
}
@media (min-width: 1080px) {
  .m_kv__copy--news::after {
    font-size: 100px;
  }
}
.m_kv__copy--contact::after {
  content: "Contact";
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
  z-index: -1;
}
@media (min-width: 1080px) {
  .m_kv__copy--contact::after {
    font-size: 100px;
  }
}

.m_pagination__numbers {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #887260;
  font-weight: bold;
  background: #fff;
}
.m_pagination__numbers--current {
  color: #fff;
  background: #887260;
}
.m_pagination__numbers--between {
  border: none;
}
.m_pagination__numbers--next {
  position: relative;
}
.m_pagination__numbers--next::before {
  content: "";
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #887260;
  border-right: 1px solid #887260;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}
.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}
.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}

.js_body.is-active {
  overflow: hidden;
}

.js_nav.is-active {
  display: block;
  pointer-events: inherit;
}

.js_faq-a {
  height: 0;
  opacity: 0;
}

.js_faq_mark.is-open::before {
  opacity: 0;
}

.top_kv {
  padding: 0 15px;
  height: 100vh;
  background-image: url(../src/img/bg_top.jpg);
  background-repeat: no-repeat;
  background-position: 78% bottom;
  background-size: cover;
}
@media (min-width: 1080px) {
  .top_kv {
    padding: 0 40px;
  }
}
.top_kv-box {
  position: absolute;
  top: 40%;
}
@media (min-width: 1080px) {
  .top_kv-box {
    top: 50%;
  }
}
.top_kv__copy {
  font-size: 24px;
}
@media (min-width: 1080px) {
  .top_kv__copy {
    font-size: 50px;
  }
}
.top_kv__scroll {
  position: absolute;
  bottom: -9%;
  right: 16px;
}
.top_kv__scroll--txt {
  writing-mode: vertical-rl;
  font-size: 14px;
}
@media (min-width: 1080px) {
  .top_kv__scroll--txt {
    font-size: 16px;
  }
}
.top_kv__scroll--arrow {
  position: absolute;
}
.top_kv__scroll--arrow::before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 1px;
  height: 70px;
  background: #333;
}
@media (min-width: 1080px) {
  .top_kv__scroll--arrow::before {
    height: 90px;
  }
}
.top_kv__scroll--arrow::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -1px;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotate(45deg);
}

.top_features__inner {
  padding: 180px 15px;
}
.top_features__item {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .top_features__item {
    width: 33.3333333333%;
  }
}
@media (min-width: 768px) {
  .top_features__item-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
.top_features__img-wrapper {
  margin: 0 auto;
  width: 343px;
  height: 190px;
}
.top_features__img {
  max-width: 100%;
  max-height: 100%;
}
.top_features__txt--ttl {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.top_features__txt--desc {
  margin-top: 10px;
}

.top_product__inner {
  padding: 65px 15px;
}
@media (min-width: 768px) {
  .top_product__item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
.top_product__item {
  margin-top: 35px;
}
.top_product__img-wrapper {
  margin: 0 auto;
  width: 343px;
  height: auto;
}
.top_product__img {
  width: 100%;
  height: auto;
}
.top_product__txt-wrapper {
  padding: 0 40px;
}
.top_product__txt--ttl {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 1080px) {
  .top_product__txt--ttl {
    font-size: 24px;
  }
}
.top_product__txt--desc {
  margin-top: 10px;
}
.top_product__txt--price {
  margin-top: 10px;
  text-align: right;
}
.top_product__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.top_sub-section {
  background: #E7DDD3;
  padding: 40px 0;
}
@media (min-width: 1080px) {
  .top_sub-section__inner {
    padding: 120px 0;
  }
}
@media (min-width: 1080px) {
  .top_sub-section__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
    padding: 0 40px;
  }
}
.top_sub-section__img-wrapper {
  margin: 0 auto;
  width: 343px;
  height: auto;
}
@media (min-width: 768px) {
  .top_sub-section__img-wrapper {
    width: 620px;
  }
}
.top_sub-section__img {
  width: 100%;
  height: auto;
}
@media (min-width: 1080px) {
  .top_sub-section__img {
    width: 620px;
    height: 380px;
  }
}
.top_sub-section__txt-wrapper {
  padding: 0 15px;
}
.top_sub-section__txt--ttl {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
@media (min-width: 1080px) {
  .top_sub-section__txt--ttl {
    font-size: 32px;
    font-weight: bold;
  }
}
.top_sub-section__txt--desc {
  margin-top: 10px;
}
@media (min-width: 1080px) {
  .top_sub-section__txt--desc {
    margin-top: 24px;
  }
}

.top_news__inner {
  padding: 40px 15px;
}
@media (min-width: 768px) {
  .top_news__inner {
    padding: 120px 15px;
  }
}
.top_news__article {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .top_news__article-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
}
.top_news__article--img-wrapper {
  margin: 0 auto;
  width: 343px;
  height: auto;
}
@media (min-width: 1080px) {
  .top_news__article--img-wrapper {
    width: 570px;
  }
}
.top_news__article--img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .top_news__article--txt-top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
.top_news__article--txt-ttl {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
@media (min-width: 1080px) {
  .top_news__article--txt-ttl {
    font-size: 24px;
  }
}
.top_news__article--txt-date {
  font-size: 14px;
  margin-top: 10px;
}
.top_news__article--txt-desc {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .top_news__article--txt-desc {
    margin-top: 20px;
  }
}
.top_news__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.top_gallery {
  padding: 96px 0;
  overflow: hidden;
}
.top_gallery__list-wrapper {
  position: relative;
}
@media (min-width: 1080px) {
  .top_gallery__list-wrapper {
    margin: 0 auto;
    height: auto;
  }
}
.top_gallery__item {
  padding: 48px 15px;
  height: 100%;
  background: #fff;
}
@media (min-width: 1080px) {
  .top_gallery__item {
    width: 352px;
  }
}
.top_gallery__inner {
  margin: 0 auto;
  max-width: 980px;
}
.top_gallery__img {
  max-width: 100%;
  max-height: 100%;
}
.top_gallery__img-wrapper {
  width: 320px;
  height: 320px;
  margin: 32px auto auto;
}
@media (min-width: 1080px) {
  .top_gallery__img-wrapper {
    width: 450px;
    height: 450px;
  }
}
.top_gallery__img {
  max-width: 100%;
  height: auto;
}
.top_gallery__dots {
  position: absolute;
  left: 38% !important;
  bottom: -90px !important;
  transform: translateX(-50%);
  width: 96px !important;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .top_gallery__dots {
    left: 45% !important;
  }
}
.top_gallery__dots .swiper-pagination-bullet {
  background: #E7DDD3;
  width: 16px;
  display: flex;
  justify-content: center;
  border-radius: 50vh;
  color: transparent;
}
.top_gallery__dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #BD6856;
}
.top_gallery__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.top_faq {
  background: #E7DDD3;
}
.top_faq__inner {
  padding: 96px 15px;
}
@media (min-width: 768px) {
  .top_faq__inner {
    padding: 120px 15px;
  }
}
.top_faq__heading {
  text-align: center;
  font-size: 20px;
  margin-top: 35px;
}
.top_faq-wrapper {
  margin-top: 24px;
}
.top_faq__unit {
  border-radius: 6px;
  background: #fff;
  border: 1px solid #E7DDD3;
  overflow: hidden;
}
.top_faq__question {
  padding: 16px;
  display: flex;
  width: 100%;
}
.top_faq__question--tag {
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #E7DDD3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.top_faq__question--txt {
  font-weight: bold;
  margin-left: 16px;
  width: 100%;
  text-align: left;
}
.top_faq__question--mark {
  width: 20px;
  height: 20px;
  position: relative;
  flex-shrink: 0;
}
.top_faq__question--mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 100%;
  background: #BD6856;
}
.top_faq__question--mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background: #BD6856;
}
.top_faq__answer {
  padding: 16px 48px 16px 16px;
  display: flex;
  width: 100%;
  border-top: 1px solid #E7DDD3;
}
.top_faq__answer--tag {
  color: #fff;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #BD6856;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #BD6856;
}
.top_faq__answer--txt {
  width: 100%;
  margin-left: 16px;
  text-align: left;
}

.top_contact__inner {
  padding: 60px 15px;
}
@media (min-width: 768px) {
  .top_contact__inner {
    padding: 120px 15px;
  }
}
.top_contact__txt {
  text-align: center;
  margin-top: 35px;
}
.top_contact__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.product__inner {
  padding: 65px 15px;
}
@media (min-width: 768px) {
  .product__item-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}
.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px auto 0;
}
@media (min-width: 768px) {
  .product__item {
    width: 33.3333333333%;
  }
}
.product__img-wrapper {
  width: 343px;
  height: 260px;
}
.product__img {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.product__txt-wrapper {
  margin: 60px auto;
}
.product__txt--ttl {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 1080px) {
  .product__txt--ttl {
    font-size: 24px;
    margin-top: 24px;
  }
}
.product__txt--desc {
  margin-top: 10px;
  text-align: center;
}
.product__txt--price {
  margin-top: 10px;
  text-align: right;
}
.product_btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.news_inner {
  padding: 40px 15px;
}
.news_article {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .news_article {
    width: 800px;
    margin: 40px auto 0;
  }
}
.news_article__img-wrapper {
  margin: 0 auto;
  width: 343px;
  height: 240px;
}
@media (min-width: 1080px) {
  .news_article__img-wrapper {
    width: 800px;
    height: 440px;
  }
}
.news_article__img {
  max-width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1080px) {
  .news_article__img {
    height: 500px;
  }
}
.news_article__txt-wrapper {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .news_article__txt-wrapper {
    margin-top: 60px;
    padding: 0 80px;
  }
}
@media (min-width: 768px) {
  .news_article__txt--top {
    display: flex;
    justify-content: space-between;
  }
}
.news_article__txt--ttl {
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 1080px) {
  .news_article__txt--ttl {
    font-size: 24px;
  }
}
.news_article__txt--date {
  font-size: 14px;
  margin-top: 10px;
}
.news_article__txt--desc {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .news_article__txt--desc {
    margin-top: 20px;
  }
}
.news_btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.news_pagination {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact_main {
  padding: 96px 0;
}
.contact_form {
  margin-top: 36px;
}
.contact_form__box {
  padding: 0 15px;
}
.contact_form__box--txt {
  text-align: center;
  font-size: 14px;
}
@media (min-width: 768px) {
  .contact_form__box--txt {
    font-size: 18px;
  }
}
.contact_form__btn-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .contact_form__btn-wrapper {
    margin-top: 48px;
  }
}
.contact_form__heading {
  position: relative;
  font-weight: bold;
  margin-top: 24px;
}
.contact_form__required {
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  background: #BD6856;
  border: 1px solid #BD6856;
  padding: 1px 3px;
  margin-left: 10px;
}
.contact_form__input {
  width: 100%;
  height: 43px;
  border: 1px solid #887260;
  margin-top: 8px;
  background: #fff;
}
.contact_form__textarea {
  width: 100%;
  height: 223px;
  border: 1px solid #887260;
  margin-top: 8px;
  font-size: 14px;
  background: #fff;
}
.contact_form__radio {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
  display: inline-block;
  margin-right: 8px;
  transform: scale(1.5);
  accent-color: #BD6856;
}
.contact_form__radio--list {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .contact_form__radio--list {
    display: flex;
    gap: 20px;
  }
}
.contact_form__checkbox {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  margin-right: 8px;
  transform: scale(1.5);
  accent-color: #BD6856;
}
.contact_privacy__wrapper {
  text-align: center;
  margin-top: 24px;
}
.contact_privacy__txt {
  color: #BD6856;
  margin-top: 24px;
}
.contact_privacy__link {
  text-decoration: underline;
}

.preparation_inner {
  padding: 120px 0;
}
.preparation_txt-wrapper {
  background: #E7DDD3;
  padding: 60px 15px;
}
.preparation_txt__ttl {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.preparation_txt__copy {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}
.preparation_txt__desc {
  font-size: 16px;
  text-align: center;
  margin-top: 24px;
}

.privacy_main {
  margin-top: 120px;
}
.privacy_section__ttl {
  font-size: 24px;
  text-align: center;
}
@media (min-width: 1080px) {
  .privacy_section__ttl {
    font-size: 36px;
    position: relative;
  }
}
.privacy_section__ttl::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #BD6856;
  position: absolute;
  left: 25%;
}
@media (min-width: 768px) {
  .privacy_section__ttl::before {
    left: 38%;
  }
}
@media (min-width: 1080px) {
  .privacy_section__ttl::before {
    width: 20px;
    height: 20px;
    left: 36%;
  }
}
.privacy_wrapper {
  padding: 96px 15px;
}
@media (min-width: 768px) {
  .privacy_wrapper {
    padding: 120px 80px;
  }
}
.privacy_box {
  margin-top: 30px;
}
.privacy_box__ttl {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
@media (min-width: 768px) {
  .privacy_box__ttl {
    text-align: center;
    font-size: 24px;
  }
}
.privacy_box__ttl::after {
  content: "";
}
@media (min-width: 768px) {
  .privacy_box__ttl::after {
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: #887260;
    position: absolute;
    bottom: 5px;
  }
}
@media (min-width: 768px) {
  .privacy_box__txt {
    margin-top: 16px;
  }
}
.privacy_box__list {
  margin-top: 8px;
}
.privacy_box__item {
  list-style: decimal;
  margin-left: 24px;
}
.privacy_box__list--access {
  margin-top: 8px;
}/*# sourceMappingURL=style.css.map */