
$sm: 375px;
$md: 768px;
$lg: 1080px;
$xl: 1200px;


@mixin mq($bp) {
    @media (min-width: ($bp)){
       @content; 
    }
}

// style.scssで呼び出すとき

// @include mix.mq(mix.$lg) {
//     font-size: 20px;
//     }

