@use '_variable' as var;
@use '_mixin' as mix;
@use 'reset';

// -------------- base --------------//

body {
    color: var.$blackColor;
    font-size: 16px;
    font-family: "hiragino-mincho-pron", "aw-conqueror-didot", serif, sans-serif;
    line-height: 1.5;
    letter-spacing: 0em;
}

// -------------- layout --------------//
.l_container-sm,
.l_container,
.l_container-lg{
    width: 100%;
    margin: 0 auto;
}

.l_container-sm {
    max-width: var.$contentWidthSm;
}

.l_container {
    max-width: var.$contentWidth;
}

.l_container-lg {
    max-width: var.$contentWidthLg;
}


// ********* header ********* //
.l_header {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var.$zIndexHeader;
    &-logo {
        font-size: 30px;
        font-weight: bold;
        @include mix.mq(mix.$lg) {
            font-size: 36px;
        } 
    }
    &-nav {
        display: none;
        background: var.$whiteColor; /* 背景色 */
        width: 70%;
        position: fixed;
        top: 55px;
        right: 0;
        bottom: 0;
        background: var.$primaryColor;
        @include mix.mq(mix.$lg) {
            display: block;
            position: static;
            width: auto;
            height: auto;
            opacity: 1;
            pointer-events: inherit;
            background: transparent;
    }
        &__list {
        // hamアクティブ時のスタイル
            display: flex;
            gap: 20px;
            flex-direction: column;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include mix.mq(mix.$lg) {
                flex-direction: row;
                position: static;
                transform: none;
                gap: 40px;
        }
    }
            &__item {
                    font-size: 16px;
                    color: var.$whiteColor;
                    text-align: left;
            @include mix.mq(mix.$lg) {
                font-size: 16px;
                color: var.$blackColor;

            }
} 
            &__link {
                position: relative;
                &:hover::after {
                    transform: scale(1,1);
                }
                &::after {
                    position: absolute;
                    left: 10%;
                    bottom: -5px;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: var.$blackColor;
                    transition: 0.3s all;
                    transform: scale(0,1);
                }
 
            }
}
        &__sns--wrapper {
            display: flex;
            gap: 20px;

        }
}


// ********* footer ********* //
.l_footer {
    background: var.$primaryColor;
    margin: 60px auto;
    padding: 60px 15px;
    &__main-container{
    @include mix.mq(mix.$lg) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 60px 20px;
    }
}
    &__access {
    &--wrapper{
        @include mix.mq(mix.$lg) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 20px;
        }
    }
        
    &--map-container iframe {
        width: 100%;
        height: 100%;
    }
    &--map-container  {
        width: 345px;
        height: 220px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    &--txt {
        color: var.$whiteColor;
         margin-top: 8px;
        }
    }
    &-logo {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: var.$whiteColor;
        margin-top: 20px;
        @include mix.mq(mix.$lg) {
            font-size: 36px;
            text-align: left;
        }
    }
    &-nav {
        margin-top: 20px;
        &__list {
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            height: 100%;
            color: var.$whiteColor;
            @include mix.mq(mix.$lg) {
                flex-direction: row;
                gap: 20px;
            }
    }
    &__link {
        transition: 0.3s all;
        &:hover {
            opacity: 70%;
        }
    }
}
&__copy {
    margin-top: 20px;
    text-align: center;
    &--txt {
        color: var.$whiteColor;
        font-size: 12px;

    }
}
&__sns--wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    @include mix.mq(mix.$lg) {
        justify-content: start;
    }
}
}
.l_footer .m_sns__img {
    display: block;
    width: 30px;
    height: 30px;
}




// -------------- utility --------------//
.u_lg_dn {
    @include mix.mq(mix.$lg) {
        display: none;
    }
}

// -------------- module 使いまわしができるパーツ --------------//
.m_section__ttl {
    font-size: 24px;
    text-align: center;
    @include mix.mq(mix.$lg) {
        font-size: 36px;
        position: relative;
        }
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background: var.$accentColor;
            position: absolute;
            left: 33%;
            @include mix.mq(mix.$md) {
                left: 42%;
                }
            @include mix.mq(mix.$lg) {
                width: 20px;
                height: 20px;
                left: 40%;
                }
        }
}

// .m_btn {
//     width: 200px;
//     height: 50px;
//     border: 1px solid var.$blackColor;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 14px;

//     @include mix.mq(mix.$lg) {
//         width: 280px;
//         height: 70px;
//         font-size: 20px;
//         }

//     &__more {
//         position: relative;
//         &::before {
//             content: "";
//             position: absolute;
//             top: 50%;
//             right: -30px;
//             width: 30%;
//             height: 1px;
//             background: #333333;
//             -webkit-transition: all .3s;
//             transition: all .3s;
//         }
//         &::after {
//             content: "";
//             position: absolute;
//             top: 45%;
//             right: -32px;
//             width: 15px;
//             height: 1px;
//             background: #333333;
//             -webkit-transform: rotate(35deg);
//             transform: rotate(35deg);
//             -webkit-transition: all .3s;
//             transition: all .3s;
//         }

//     }
// }

  .m_btn{
    width: 200px;
    height: 50px;
    background:var.$primaryColor;
    color:var.$whiteColor;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    font-size:14px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    &:hover{
        background:var.$whiteColor;
        color: var.$primaryColor;

      }
    &:before{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: var.$primaryColor;
        transition:400ms ease all;
      }
    &::after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: var.$primaryColor;
        transition:400ms ease all;
      }
      &:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      &:hover:before,m_btn:hover:after{
        width:100%;
        transition:800ms ease all;
      }
  }
  .m_hamburger {
    width: 32px;
    height: 24px;
    position: relative;
    z-index: var(--z-index-menu);
  }
  
  .m_hamburger-bar {
    width: 100%;
    height: 2px;
    position: absolute;
    background: var(--black-color);
    left: 50%;
  }
  
  .m_hamburger-bar:first-child {
    top: 0;
    transform: translate(-50%, 0);
  }
  
  .m_hamburger-bar:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .m_hamburger-bar:last-child {
    top: 100%;
    transform: translate(-50%, -100%);
  }

  
  .m_sns__img {
    display: none;
    @include mix.mq(mix.$lg) {
    display: block;
    width: 20px;
    height: 20px;
    }

}
// -------------- js --------------//
// -------------- top --------------//
// ********* top_kv ********* //
.top_kv {
    padding: 0 15px;
    height: 100vh;
    background-image: url(../src/img/bg_top.jpg);
    background-repeat: no-repeat;
    background-position: 78% bottom  ;
    background-size: cover;
    @include mix.mq(mix.$lg) {
        padding: 0 40px;
    }
    &-box {
        position: absolute;
        top: 40%;
        @include mix.mq(mix.$lg) {
            top: 50%;
        }
    }
    &__copy {
        font-size: 24px;
        @include mix.mq(mix.$lg) {
            font-size: 50px;
        }
    }
    &__scroll {
        position: absolute;
        bottom: -12%;
        right: 16px;
        &--txt {
            writing-mode: vertical-rl;
            font-size: 14px;
            @include mix.mq(mix.$lg) {
                font-size: 16px;
            }
        }
        &--arrow {
            position: absolute;
            &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                right: 2px;
                width: 1px;
                height: 70px;
                background: var.$blackColor;
                @include mix.mq(mix.$lg) {
                    height: 90px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                right: -1px;
                width: 6px;
                height: 6px;
                border-bottom: 1px solid var.$blackColor;
                border-right: 1px solid var.$blackColor;
                transform: rotate(45deg);
            }

        }
    }
}
// ********* top_features ********* //
.top_features {
    &__inner {
        padding: 180px 16px;
    }
    &__item {
        margin-top: 40px;
        &-wrapper {
            @include mix.mq(mix.$md) {
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }
        }
    }
    &__img-wrapper {
        margin: 0 auto;
        width: 343px;
        height: auto;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    
    &__txt--ttl {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;

    }
    &__txt--desc {
        margin-top: 10px;

    }
}
// ********* top_product ********* //
.top_product {
    &__inner {
        // padding: 65px 40px;
        padding: 65px 0;
    }
    &__item-wrapper {
        @include mix.mq(mix.$md) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
    }
    &__item {
        margin-top: 35px;

    }
    &__img-wrapper {
        margin: 0 auto;
        width: 343px;
        height: auto;
    }
    &__img {
        width:100%;
        height:auto;
    }
    &__txt{
        &-wrapper {
            padding: 0 40px;
        }
        &--ttl {
            font-size: 18px;
            margin-top: 10px;
            text-align: center;
            @include mix.mq(mix.$lg) {
                font-size: 24px;
            }
        }
        &--desc {
            margin-top: 10px;
        }
        &--price {
            margin-top: 10px;
            text-align: right;
        }
    }
    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}
// ********* top_sub-section ********* //
.top_sub-section {
    background: var.$grayColor;
    padding: 40px 0;
    &__inner {
        @include mix.mq(mix.$lg) {
        }
    }
    &__item {
        @include mix.mq(mix.$lg) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            gap: 80px;
            padding: 0 40px;
        }
    }
    &__img-wrapper {
            margin: 0 auto;
            width: 343px;
            height: auto;
            @include mix.mq(mix.$md) {
                width: 620px;
            }
        }
    &__img {
            width:100%;
            height:auto;
            @include mix.mq(mix.$lg) {
                width: 620px;
                height: 380px;
            }
        }
    &__txt {
        &-wrapper {
            padding: 0 15px;
        }
        &--ttl {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            @include mix.mq(mix.$lg) {
                font-size: 32px;
                font-weight: bold;
            }
        }
        &--desc {
            margin-top: 10px;
            @include mix.mq(mix.$lg) {
                margin-top: 24px;
            }
        }
    }
    }


// ********* top_news ********* //
.top_news {
    &__inner {
        padding: 40px 15px;
    }
    &__article {
        margin-top: 35px;
        &-wrapper {
            @include mix.mq(mix.$md) {
                display: flex;
                justify-content: space-between;
                gap: 60px;
            }
        }
    &--img-wrapper {
        margin: 0 auto;
        width: 343px;
        height: auto;
        @include mix.mq(mix.$lg) {
            width: 570px;
        }
    }
    &--img {
        width:100%;
        height:auto;
    }
    &--txt {
        &-top {
            @include mix.mq(mix.$md) {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
        }
        &-ttl {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            @include mix.mq(mix.$lg) {
                font-size: 24px;
            }

        }
        &-date {
            font-size: 14px;
            margin-top: 10px;
        }
        &-desc {
            margin-top: 10px;
            @include mix.mq(mix.$md) {
                margin-top: 20px;
            }
        }
    }
}
 &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }
}

// ********* top_gallery ********* //
.top_gallery {
    padding: 96px 0;
    overflow: hidden;
    &__list-wrapper {
        position: relative;
        // max-width: calc(var(--content-width-lg) + 32px); 
        @include mix.mq(mix.$lg) {
            margin-left: auto;
            margin-right: auto;
            // overflow: hidden;
            height: auto;
        }
    }
    &__item {
        padding: 48px 16px;
        height: 100%;
        background: var.$whiteColor;
        @include mix.mq(mix.$lg) {
            width: 352px;
        }
      }
    &__inner {
        margin: 0 auto;
        max-width: var(--content-width-sm);
    }
    &__img-wrapper {
        margin-top: 32px;
      }
    &__dots {
        position: absolute;
        // これに変わる記述を考える
        left: 50% !important;
        bottom: -90px !important;
        transform: translateX(-50%);
        width: 96px !important;
        height: 16px;
        display: flex;
        justify-content: space-between;
      }
    &__dots .swiper-pagination-bullet {
        background: var.$grayColor;
        width: 16px;
        height: 16px;
        border-radius: 100vh;
        color: transparent;
      }
    &__dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var.$accentColor;
      }

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
}
}


// ********* top_faq ********* //
.top_faq {
    background: var.$grayColor;
    &__inner {
        padding: 96px 15px;
    }
    &__heading {
        text-align: center;
        font-size: 20px;
        margin-top: 35px;
    }
    &-wrapper {
        margin-top: 24px;
    }
    &__unit {
        border-radius: 6px;
        background: var.$whiteColor;
        border: 1px solid var.$grayColor;
        overflow: hidden;
      }
     &__question {
        padding: 16px;
        display: flex;
        width: 100%;
        &--tag {
            font-weight: bold;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid var.$grayColor;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          } 
        &--txt {
            font-weight: bold;
            margin-left: 16px;
            width: 100%;
            text-align: left;
          }
        &--mark {
            flex-shrink: 0;
            position: relative;
            width: 16px;
            margin: auto 0 auto 8px;
            &::before {
                content: "";
                width: 16px;
                height: 2px;
                background: var.$accentColor;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                  /* コード上だと全てプラスマークになっていますがJavaScriptの授業で切り替えを行います。 */
              }
            &::after {
                content: "";
                width: 2px;
                height: 16px;
                background: var.$accentColor;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
          }
        }
        &__answer {
            padding: 16px 48px 16px 16px;
            display: flex;
            width: 100%;
            border-top: 1px solid var.$grayColor;
            &--tag {
                color: var.$whiteColor;
                font-weight: bold;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid var.$accentColor;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background: var.$accentColor;
              }
              &--txt {
                width: 100%;
                margin-left: 16px;
                text-align: left;
              }
          }
      }

// ********* top_contact ********* //
.top_contact {
    &__inner {
        padding: 60px 15px;
    }
    &__txt {
        text-align: center;
        margin-top: 35px;
    }
    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}

// -------------- product --------------//
// -------------- news --------------//
// -------------- contact --------------//
// -------------- preparation --------------//
// -------------- 404??? --------------//
