@use '_variable' as var;
@use '_mixin' as mix;
@use 'reset';

// -------------- base --------------//

body {
    color: var.$blackColor;
    font-size: 16px;
    font-family: "hiragino-mincho-pron", "aw-conqueror-didot", serif, sans-serif;
    line-height: 1.5;
    letter-spacing: 0em;
}

// -------------- layout --------------//
.l_container-sm,
.l_container,
.l_container-lg{
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.l_container-sm {
    max-width: calc(var.$contentWidthSm + 32px);
}

.l_container {
    max-width: calc(var.$contentWidth + 32px);
}

.l_container-lg {
    max-width: calc(var.$contentWidthLg + 32px);
}

.l_contents {
    padding: 120px 0;
}
// ********* header ********* //
// ********* footer ********* //


// -------------- utility --------------//

// -------------- module 使いまわしができるパーツ --------------//
// -------------- js --------------//
// -------------- top --------------//
// ********* top_kv ********* //
// ********* top_concept ********* //
// ********* top_menu ********* //
// ********* top_news ********* //
// ********* top_contact ********* //

// -------------- menu --------------//
// -------------- news --------------//
// -------------- contact --------------//